@import "./global";

footer {
  
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;

  .container {
    background-color: #1E3161;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    border-radius: 10px;
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 1;

    .menu {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
    }

    .language {}

    .social__media {}
  }
 
}