@import "./global";

footer {
  
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;

  .container {
    // position: relative;
    background-color: #1E3161;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px;

    .menu {
      // position: absolute;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      h4 {

      }
    }

    .language {
      // position: absolute;
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      ul.language__links {
        display: flex;

        a {
          padding: 5px;
        }
      }
    }

    .social__media {
      // position: absolute;
       grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }
 
}